body {
    background-color: $light-green;
}
.title {
    text-align: center;
    color: $white;
    font-family: $san-serif;
    font-weight: $bold;
    font-size: $large;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
    margin: 0 auto;
    background-color: $gray;
    padding: 1.5rem;
    border-radius: 10px;

    &__input {
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        font-family: $san-serif;
        font-weight: $regular;
    }
    
    &__btn {
        padding: .5rem 0;
        background-color: $light-green;
        color: $white;
        border: none;
        font-weight: $bold;
    }
}

